
/* 
colores 
-Rosa vino: C63968
-Salmon oscuro: FF6870
-salmon claro: #FF847C
-Crema: FCEEDD
-carne: FFBE86
Verde gis: 99B898
*/
.body{
  background-color: #FF6870;
}

.fa-solid{
  color: black;
}
.container{
  margin: auto;
  background-color: #FCEEDD;
  width: 800px;
  padding: 30px;
}

.logotipo
{
  height: 44px;
  width: 45px;
}

*{
  margin: 0;
  padding: 0,
}

.slider{
  width: 800%;
  margin: auto;
  height: 1000px;
  overflow: hidden;
}

.slider ul{
  padding: 0; 
  display: flex;
  width: 400%; 

  animation: slider 20s infinite alternate;
  animation-timing-function: linear;
}

.slider li{
  width: 100%;
  list-style: none;
}

.slider li img{
  width: 100%;
}

@keyframes slider{
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}

.navbar-nav{
  background: #C63968;
}

.navbar-nav li a{
  text-decoration: none;
  color: #FFBE86;
}

.navbar-nav li{
  height: 65px;
  border-radius: 30px;
}

.navbar-nav li a:hover{
  background: #FF847C;
  height: fit-content;
  height: 65px;
  border-radius: 30px;
}

.navbar{
  max-width: 4500px;
  max-height: 4000px;
  background: #C63968;
}

.collapse{
  background: #C63968;
  height: 65px;
}

.navbar-brand{
  background: #C63968;
  height: 65px;
}

.navbar-toggler{
  background: #C63968;
}
